mat-grid-tile {
  background: lightblue;
}
.mat-icon.favorite {
  color: white !important;
}
.favorite.checked{
  color: yellow !important;
}
.my-card {
  max-width: 400px;
}
img{
  width:  100px;
  height: 100px;
}


