<mat-grid-list cols="3" gutterSize="50">
    <mat-grid-tile *ngFor="let item of products">
        <mat-card>
            <mat-card-header>
                <mat-card-title [routerLink]="['/products',item.id]">{{item.title}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="image-container">
                    <img mat-card-image [src]="item.thumbnail" alt="thumbnail">
                </div>
                <div class="price-and-mat-icon-container">
                    <div class="price-container">{{item.price}}$</div>
                    <span (click)="toggleFavorite(item.id)"
                          [ngClass]="isFavorite(item.id) ? 'checked' : 'unchecked'">★</span>
                </div>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
